<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header') %>
    <title>Feliz Navidad!</title>
</head>

<body background="img/2024/background.png">    
    <div class="container">
        <h1 class="title">¡Feliz Navidad Fersi!</h1>
        <img src="img/2024/gato.gif" alt="" class="cat">
        <img src="img/2024/portada.jpeg" class="portada">
        <a href="/year" id="btn_next">Siguiente</a>        
    </div>            
</body>
</html>