<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header') %>
    <title>Años</title>
</head>

<body background="img/2024/background.png">
    <div class="container">
        <a href="/" id="btn_next"><- Regresar</a>
        <h1 class="title">Año</h1>
        <div class="anio">
            <a href="/2024">2024</a>
        </div>
    </div>
</body>
</html>